# General
# ------------------------------
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

system/
system/sessions/
content/
.vscode/

# Admin Application
# ------------------------------
admin/application/cache/*
!admin/application/cache/index.html

admin/application/logs/*
!admin/application/logs/index.html

!admin/application/*/.htaccess
admin/vendor/

admin/resources/*/assets/

admin/application/config
admin/application/config_local
admin/application/config_server

# App Application :P
# ------------------------------
app/application/cache/*
!app/application/cache/index.html

app/application/logs/*
!app/application/logs/index.html

!app/application/*/.htaccess

app/vendor
app/resources/assets/*
app/application/config
app/application/config_server
app/application/config_local

# operating system related files
# ------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db