
body{
    height: 100vh;
    padding-top: 20px;
    background-color: #F37062;
}

div.start_container{
    background-color: #FFFFFF;
    padding: 20px;
    width: 350px;
    margin: 0 auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
}

div.start_content{
    max-width: 280px;
    margin: 0 auto;
}

div.start_links{
    font-size: 0.9em;
}

.btn_google{
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
}

.btn_google:hover{
    background-color: #f1f1f1;
    border: 1px solid #AAAAAA;
}